<div class="bg-light">
  <h2>New Event</h2>
  <br>
  <div>
    <%= form_for @event, html: { multipart: true } do |f| %>
      <div>
        <%= f.label :images, "Add Images" %>
        <%= file_field_tag "images[]", type: :file, multiple: true %>
        <%= f.check_box(:is_public) %>
        <%= f.label :is_public, "Public" %>
      </div>
      <br>
      <b> <%= f.label :description, "Event Description:" %></b> <br>
      <%= f.text_area :description %>
      <br>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>