<h2>New Post</h2>

<div>
  <%= form_for @post, html: { multipart: true }  do |f| %>
    <div>
    <%= f.label :images %>
    <%#= f.file_field :image %>
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
    <div>
      <%= label_tag "public?" %>
      <%= check_box_tag(:is_public,true,checked=false) %>
    </div>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description%>
    <br>
    <%= f.submit %>
  <% end %>
</div>